repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
    - id: isort

  - repo: https://github.com/ambv/black
    rev: 21.6b0
    hooks:
    - id: black
      language_version: python3.9