# SPDX-FileCopyrightText: 2018-2025 Joonas Rautiola <mail@joinemm.dev>
# SPDX-License-Identifier: MPL-2.0
# https://git.joinemm.dev/miso-bot

services:
  bot-db:
    container_name: miso-bot-db
    image: mariadb
    restart: unless-stopped
    volumes:
      - miso-data:/var/lib/mysql
      - ./sql/init:/docker-entrypoint-initdb.d:ro
      - ./sql/scheduled:/scripts:ro
    ports:
      - 127.0.0.1:3306:3306 # for development
    environment:
      - MARIADB_USER=bot
      - MARIADB_PASSWORD=botpw
      - MARIADB_DATABASE=misobot
      - MARIADB_ROOT_PASSWORD=secure-af
    profiles: [prod, dev, dev-extra]

  shlink-db:
    container_name: miso-shlink-db
    image: mariadb
    restart: unless-stopped
    volumes:
      - shlink-data:/var/lib/mysql
    environment:
      - MARIADB_USER=shlink
      - MARIADB_PASSWORD=shlinkpw
      - MARIADB_DATABASE=shlink
      - MARIADB_ROOT_PASSWORD=secure-af
    profiles: [prod]

  image-server:
    container_name: miso-image-server
    build: https://github.com/joinemm/html-imager.git#master
    restart: unless-stopped
    init: true
    expose:
      - 3000
    volumes:
      - ./html/static:/app/static:ro
      - ./html/templates:/app/templates:ro
    profiles: [prod, dev-extra]
  
  embed-server:
    container_name: miso-embed-server
    build: https://github.com/miso-bot/miso-embed-server.git#master
    restart: unless-stopped
    init: true
    expose:
      - 3000
    ports:
      - 127.0.0.1:3100:3000 # for development
    profiles: [prod, dev-extra]

  shlink:
    container_name: miso-shlink
    image: shlinkio/shlink:latest
    restart: unless-stopped
    ports:
      - 127.0.0.1:8080:8080
    expose:
      - 8080
    environment:
      - DEFAULT_DOMAIN=url.misobot.xyz
      - IS_HTTPS_ENABLED=true
      - DB_DRIVER=maria
      - DB_NAME=shlink
      - DB_USER=shlink
      - DB_PASSWORD=shlinkpw
      - DB_HOST=shlink-db
      - SHELL_VERBOSITY=3
    depends_on:
      - shlink-db
    profiles: [prod]

  bot-prod:
    container_name: miso-bot
    build: .
    restart: unless-stopped
    ports:
      - 127.0.0.1:3000:8080
    expose:
      - 8080
    depends_on:
      - bot-db
    env_file:
      - .env
    environment:
      - DB_HOST=miso-bot-db
      - IMAGE_SERVER_HOST=image-server
      - EMBEDDER_HOST=embed-server
      - EMBEDDER_PORT=3000
      - EMOJIFIER_HOST=emojifier
      - WEBSERVER_PORT=8080
      - WEBSERVER_HOSTNAME=0.0.0.0
      - REDIS_URL=redis://redis
    tty: true
    profiles: [prod]

  bot-dev:
    container_name: miso-bot-dev
    build: .
    command: dev
    restart: unless-stopped
    expose:
      - 8080
    depends_on:
      - bot-db
    env_file:
      - .env
    environment:
      - DB_HOST=miso-bot-db
      - IMAGE_SERVER_HOST=image-server
      - EMBEDDER_HOST=embed-server
      - WEBSERVER_PORT=8080
      - WEBSERVER_HOSTNAME=0.0.0.0
    tty: true
    profiles: [dev, dev-extra]

  redis:
    container_name: miso-redis
    image: "redis:alpine"
    environment:
      - REDIS_REPLICATION_MODE=master
    expose:
      - 6379
    ports:
      - 127.0.0.1:6379:6379
    volumes:
      - redis-data:/data
    profiles: [prod, dev-extra]

networks:
  default:
    driver: bridge

volumes:
  miso-data:
  shlink-data:
  redis-data:
