discord.py[speed]
aiohttp
aiohttp-cors
aiomysql
arrow
async-cse
beautifulsoup4
bleach
colorgram.py
durations-nlp
humanize
jishaku
kdtree
matplotlib
numpy
Pillow
psutil
python-dotenv
regex
scipy
uvloop
prometheus-async
markdownify
lxml
loguru
redis
shazamio
random_user_agent
minestat
