/*
 * SPDX-FileCopyrightText: 2024 Joonas Rautiola <joinemm@pm.me>
 * SPDX-License-Identifier: MPL-2.0
 * https://git.joinemm.dev/miso-bot
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  font-family: "Fira Code", monospace;
  color: #fff;
  overflow: hidden;
}

.label {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  margin: 1px;
  padding-left: 5px;
  padding-bottom: 5px;
  text-shadow: 2px 2px 1px #000;
}

.playcount {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  margin: 1px;
  padding-right: 5px;
  padding-bottom: 5px;
  text-shadow: 2px 2px 1px #000;
  right: 0;
}

.box {
  position: relative;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1 / 1;
}

.box img {
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 1440px;
  width: 1440px;
  display: grid;
  grid-auto-flow: row;
  flex-shrink: 0;
  flex-grow: 1;
}

.wrapper.with-gaps {
  grid-gap: 15px;
  padding: 35px;
}

.topster-wrapper {
  flex-grow: 1;
  padding-left: 25px;
}

.topster-wrapper.with-gaps {
  padding: 35px;
  padding-left: 0;
}

.topster {
  position: relative;
  margin-top: 0;
  padding-left: 0;
  font-weight: bold;
  line-height: 1.175;
  white-space: nowrap;
  list-style-type: none;
  display: table-cell;
  vertical-align: top;
}

.layout {
  display: flex;
  flex-direction: row;
}
