body {
  margin: 0;
}

#wrapper {
  background-color: black;
}

.art {
  width: 300px;
  height: 300px;
  position: relative;
  text-align: left;
  overflow: hidden;
  float: left;
}

.label {
  font-family: sans-serif;
  position: absolute;
  bottom: -10px;
  left: 5px;
  z-index: 100;
  color: white;
  text-shadow:
   1px 1px 0 #000
}