:root {

  --main-background: #F0EBf4;
  --accent-color: #e7c9c9;
  --accent-color-2: #e98074;
  --text: #838d8a;
  --sidebar-text: #a84a40;


  --theme-color: #1FC5BF;
  --theme-color-light: #5D001E;
  --theme-color-dark: #5D001E;
  --theme-color-secondary: #E3AFBC;
  --theme-color-secondary-dark: #3F1C77;
  --theme-color-secondary-light: #C4B2E1;

  --text-color-base: #2E2E46;
  --text-color-secondary: #646473;
  --text-color-tertiary: #81818E;
}

body {
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Source Sans Pro','Open Sans','Helvetica Neue',Arial,sans-serif;
}

* {
  text-decoration: none !important;
}

a {
  transition: all 0.3s linear;
}

aside.sidebar {
  border: none;
  background-color: var(--accent-color);
  color: #fff;
}

.sidebar ul li a {
  color: var(--sidebar-text);
  color: var(--sidebar-text: #EAE7DC;);
  font-size: 1rem;
}

.sidebar ul li.active>a {
  border-width: 0.1rem;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: rgba(255,255,255,1);
}

.sidebar .sidebar-nav ul li.active>a {
  color: #fff;
  border-right: 0.2rem solid var(--accent-color,#29D0CA);
}

.sidebar > h1 {
  font-size: 2rem;
}

.sidebar-logo {
  display: block;
  width: 4rem;
  vertical-align: bottom;
  line-height: 1.6;
  height: 4rem;
  margin: 0 auto;
}

body .sidebar-toggle {
  background: none;
  bottom: 0;
  left: 0;
  cursor: pointer;
  padding: 1rem;
}

body .sidebar-toggle-button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

body .sidebar-toggle span {
  transition: all 0.3s linear;
  background-color: var(--accent-color-2);
  height: 0.25rem;
  width: 1.5rem;
  position: absolute;
  left: 0;
  margin: 0;
  transform-origin: 0;
}

body.close .sidebar-toggle span {
  transform-origin: center;
}

body .sidebar-toggle span:nth-child(1) { top:0; }
body .sidebar-toggle span:nth-child(2) { top:0.65rem; }
body .sidebar-toggle span:nth-child(3) { top:1.25rem; }

.sidebar-toggle .sidebar-toggle-button:hover { opacity: 1; }

.sidebar-toggle:hover span:nth-child(1) { transform: rotate(45deg); width: 1.75rem; }
.sidebar-toggle:hover span:nth-child(2) { opacity: 0; }
.sidebar-toggle:hover span:nth-child(3) { transform: rotate(-45deg); width: 1.75rem; }

.close .sidebar-toggle:hover span:nth-child(1) { transform:rotate(0); width:1.5rem; top:0.65rem; }
.close .sidebar-toggle:hover span:nth-child(2) { opacity: 1; transform:rotate(90deg); }
.close .sidebar-toggle:hover span:nth-child(3) { transform:rotate(0); width:1.5rem; top:0.65rem; }

th {
  text-align: left;
}

.markdown-section blockquote {
  margin: 1em 0;
}

.markdown-section em,
.markdown-section blockquote {
font-family: 'Source Code Pro', monospace;
}

.cover-main img {
  max-width: 10rem;
  max-height: 10rem;
}

section.cover p {
  line-height: inherit;
}

section.cover .cover-main a {
  font-weight: 600;
}

section.cover .cover-main a::before {
  display: none;
}

section.cover .cover-main blockquote {
  font-style: italic;
  color: #999;
}

section.cover .cover-main>p:last-child a:first-child {
  border-width: 0.2rem;
}

section.cover .cover-main>p:last-child a:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  opacity: 1;
}

section.cover .cover-main>p:last-child a:last-child:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #fff;
  opacity: 1;
}

section.cover .cover-main {
  margin: 20vh 20vw;
}

.app-name-link {
  white-space: nowrap;
}

.app-sub-sidebar li:before {
  display: none;
}

.markdown-section pre,
.markdown-section pre > code {
  background-color: #2E2E46;
  color: rgba(255,255,255,0.75);
  font-size: 1em;
  line-height: 1.5;
}

.markdown-section code {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
}

.markdown-section pre {
  padding: 2rem;
}

.markdown-section pre > code {
  padding: 0;
}


.lang-scss .token.variable {
  color: #8dc891;
}

.markdown-section ol, .markdown-section p, .markdown-section ul {
  line-height: inherit;
}

.markdown-section code {
  color: inherit;
  border-radius: 0;
  font-size: 0.9em;
  padding: 6px 10px;
  /* color: #111; */
}

.markdown-section table {
  display: table;
}

.markdown-section table tr {
  border-width: 0.2rem 0;
  border-style: solid;
  border-color: #F1F1F2;
}

.markdown-section table tr:nth-child(2n) {
  background-color: transparent;
}

.markdown-section table td,
.markdown-section table th {
  border: none;
  padding: 1.5rem 0.5rem;
  text-align: left;
}

.markdown-section table td p {
  margin: 0;
}

.markdown-section a {
  text-decoration: none;
  transition: all 0.3s ease;
}


/* Badges */
.markdown-section > p:first-child > a {
  border: none;
}

.docsify-copy-code-button {
  background: var(--accent-color);
}

.sidebar::-webkit-scrollbar {
  width:0;
}

@media screen and (max-width: 768px) {
  section.cover {
    height: auto;
  }
  section.cover .cover-main {
    margin: 0 5vw;
  }
  .cover-main img {
    max-width: 100px;
    max-height: 100px;
  }

  body .sidebar-toggle { background-color: #fff; }
  body.close .sidebar-toggle {
    background-color: transparent;
    padding: 1rem;
  }

  .sidebar-toggle:hover span:nth-child(1) { transform:rotate(0); width:1.5rem; top:0.65rem; }
  .sidebar-toggle:hover span:nth-child(2) { opacity: 1; transform:rotate(90deg); transform-origin: center; }
  .sidebar-toggle:hover span:nth-child(3) { transform:rotate(0); width:1.5rem; top:0.65rem; }

  .close .sidebar-toggle:hover span:nth-child(1) { transform: rotate(45deg); width: 1.75rem; }
  .close .sidebar-toggle:hover span:nth-child(2) { opacity: 0; }
  .close .sidebar-toggle:hover span:nth-child(3) { transform: rotate(-45deg); width: 1.75rem; }
}

@media screen and (min-width: 769px) {
  .markdown-section {
    max-width: 75rem;
    padding: 1rem 3rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 112.5%;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 125%;
  }
}
