name: Lint

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: sudo apt install -y libasound2-dev

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Ruff check
        uses: astral-sh/ruff-action@v3
        with:
          args: "check"

      - name: Ruff format
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v5

      - name: Minimize uv cache
        run: uv cache prune --ci
